@charset "utf-8";

/*==============================================================

	Name:style.css
	Version:1.0.0

================================================================

	Table of contents

		01. Common Styles Initials
		02. Custom Style
		03. Button Style

==============================================================*/

/*==============================================================
	01. Common Styles Initials
==============================================================*/
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	/*font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;*/
	font-family: 'gidoleregular';
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	color: #222222;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
a {
	outline: none;
	text-decoration: none;
	color: #555;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'gidoleregular';
}
a, input, button {
	outline: none !important;
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: 'BloggerSans';
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(46,56,71,.5);
	border-radius: 0;
}
::-webkit-scrollbar-thumb{
	cursor: pointer;
	border-radius: 0px;
	background: rgba(29,37,71,1);
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.container{
	max-width: 1700px;
	width: 100%;
}

.height-100-percentage{height: 100%;}
.width-100-percentage{width: 100%;}
.padding-top-15px{padding-top: 15px;}

/*==============================================================
	02. Header Style
==============================================================*/
/*.pre-loader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 14;
	background-position: center center;
	background: url(../images/pre-loader.svg) rgba(0,0,0,0.9) no-repeat;
}*/
.header-wrap{
	max-width: 90%;
	width: 100%;
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 123;
	margin: 0 auto;
	padding: 10px 30px;
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 7px 15px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0px 5px 7px 15px rgba(0, 0, 0, .06);
	box-shadow: 0px 5px 7px 15px rgba(0, 0, 0, .06);
}
.header-wrap .logo{
	float: left;
}
.header-wrap .logo a{
	display: inline-block;
}
.header-wrap .logo a img{
	width: 150px;
	height: 80px;
}
.header-wrap .menu{
	float: right;
	padding-top: 18px;
}
.header-wrap .menu .dropdown-toggle{
	display: inline-block;
	border: 0;
	width: 50px;
	height: 50px;
	color: #ffffff;
	background: #0099ff;
	text-align: center;
	position: relative;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-toggle:hover, .header-wrap .menu .show .dropdown-toggle{
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
}
.menu-icon{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-toggle:after{
	display: none;
}
/* menu animation start */
.hamburgler {
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.show .menu-icon {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.bun,
.meat {
	display: block;
	width: 100%;
	background: #ffffff;
	height: 17%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50px;
}
.bun.bottom{
	height: 17%;
}
.show .top {
	height: 38%;
	width: 17%;
	margin-left: 40%;
	border-radius: 50px 50px 0 0;
}
.show .bun.bottom {
	height: 38%;
	width: 17%;
	margin-left: 40%;
	border-radius: 0 0 50px 50px;
}
.meat {
	margin: 20% 0;
}
.show .meat {
	margin: 2% 0;
}
.header-wrap .menu .dropdown-menu{
	border: 0;
	padding: 0;
	margin-top: 10px;
	min-width: 190px;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
}
.header-wrap .menu .dropdown-menu:before{
	content: "";
	position: absolute;
	top: -10px;
	right: 10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
}
.header-wrap .menu .dropdown-menu .dropdown-item{
	color: #616161;
	padding: 10px 20px;
	font-size: 18px;
	font-family: 'gidoleregular';
	letter-spacing: 0.050em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-menu .dropdown-item:hover{
	color: #000000;
}
.header-wrap .menu .dropdown-menu .dropdown-item.selected{
	color: #ffffff;
	background: #007bff;
}
.header-wrap .menu .dropdown-menu .dropdown-item.active, .header-wrap .menu .dropdown-menu .dropdown-item:active{
	color: #ffffff;
}
/* menu animation end */

.style1 .section-wrap{
	background-size: cover !important;
	width: 100%;
	height: 100%;
}

.cd-main {
	height: 100vh;
	overflow: hidden;
}
.cd-section {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0s 0.5s;
	-moz-transition: -moz-transform 0s 0.5s;
	transition: transform 0s 0.5s;
}
.cd-section.visible {
	/* this is the visible/selected section */
	position: relative;
	z-index: 2;
	transform: translateX(0);
	transition: transform 0.5s 0s;
}
.cd-content{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 150px 0 20px;
}
#cd-loading-bar {
	position: fixed;
	z-index: 2;
	top: 0 !important;
	left: 0px;
	width: 4px;
	background: #ffffff;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.loading{
	visibility: visible !important;
}

.index3 .style3{
	background-image: -webkit-gradient(linear, left bottom, right top, from(#38438b), color-stop(#944b94), color-stop(#d75a88), color-stop(#ff7e71), color-stop(#ffb25f), to(#ffeb68));
	background-image: -webkit-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
	background-image: -o-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
	background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
}

.login-with{
	color: #ffffff;
	text-align: center;
}
.login-with h3{
	font-size: 24px;
	font-weight: 400;
	font-family: 'gidoleregular';
	margin-bottom: 15px;
}
.social-login-btn{}
.social-login-btn li{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
.social-login-btn li a{
	display: block;
	background: #ffffff;
	color: #222222;
	padding: 5px 30px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.social-login-btn li.facebook-btn a i{color: #405499;}
.social-login-btn li.twitter-btn a i{color: #55acee;}
.social-login-btn li.google-btn a img{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

.login-form-slider{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.login-form-slider .slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.login-form-slider .slide.login-slide{display: block;}
.login-form-slider .slide.signup-slide{}
.login-form-slider .slide.forgot-password-slide{}

/* style 1 css */

.index .style1{
	background: url(../images/banner3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style1{}
.style1 .login-box{
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	background: url(../images/style1img.jpg) #ffffff no-repeat;
	height: 700px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.style1 .login-box h1.title{
	position: absolute;
	left: 45px;
	top: 27%;
	color: #3c4d6d;
	font-size: 65px;
	font-family: 'gidoleregular';
}
.style1 .login-box h3.subtitle{
	position: absolute;
	left: 50px;
	top: 37%;
	font-weight: 400;
	color: #222222;
	font-size: 25px;
}
.style1 .login-form-box{
	background: #ffffff no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 400px;
	height: 600px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	overflow: hidden;
	right: -55px;
	-webkit-box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
	-moz-box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
	box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
}
.login-style1{
	background: url(../images/style2img.jpg) no-repeat;
	padding: 50px 50px 10px;
	color: #ffffff;
}
.login-style1 .label{
	letter-spacing: 0.050em;
	font-weight: 400;
	margin-bottom: 0;
	padding-left: 15px;
}
.login-style1 .form-control{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 45px;
	background: rgba(255,255,255,0.5);
	border: 0;
	box-shadow: none;
	color: #222222;
	font-size: 20px;
	padding: 0 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .form-control:focus{
	background: rgba(255,255,255,1);
}
.login-style1 .custom-control{
	margin-left: 15px;
}
.login-style1 .submit{
	display: block;
	width: 100%;
	height: 45px;
	color: #ffffff;
	background: -webkit-gradient(linear, left top, right top, from(#17ead9), to(#6078ea));
	background: -webkit-linear-gradient(top, #17ead9, #6078ea);
	background: -moz-linear-gradient(top, #17ead9, #6078ea);
	background: -o-linear-gradient(top, #17ead9, #6078ea);
	background: -ms-linear-gradient(top, #17ead9, #6078ea);
	background: linear-gradient(top, #17ead9, #6078ea);
	background-color: #17ead9;
	border: 0;
	letter-spacing: 0.1em;
	font-style: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.login-style1 a{
	color: #ffffff;
}
.login-style1 .sign-up-txt{
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.050em;
	padding-bottom: 15px;
	padding-top: 15px;
}
.login-style1 .sign-up-txt a{
	color: #01e3f7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .sign-up-txt a:hover{
	color: #ffffff;
}
.login-style1 .forgot-txt{
	padding-bottom: 30px;
}
.login-style1 .forgot-txt a{
	color: rgba(255,255,255,0.8);
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.050em;
	border-bottom: 1px dashed rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .forgot-txt a:hover{
	color: #ffffff;
}




/* style 2 css */
.index2 .style2{
	background: url(../images/banner4.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style2{}
.style2 .login-box{
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
	background: #ffffff;
	height: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}
.style2 .login-box:before{
	content: "";
	width: 90%;
	height: 10px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -10px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}
.style2 .login-box:after{
	content: "";
	width: 80%;
	height: 10px;
	background: rgba(255,255,255,0.4);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -20px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
.image1{
	background: url(../images/image1.jpg) no-repeat;
	background-size: cover;
	background-position: center bottom;
}